<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <title>My Internet Presence</title>
</head>
<body>
    <h2 style="font-family: Arial, sans-serif;">Case-Sensitive Search Engine</h2>
    <form action="/" method="POST">
        <input style = "padding: 15px 32px;" name="firstname" placeholder="First Name" type="text">
        <input style = "background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px" type="submit" value="Indulge Yourself">
    </form>
    <br>
    {% for presence in internet_presence %}
        <p>{{ presence }}</p>
    {% endfor %}
</body>
</html>
